html{
    background-color: azure;
}
body{
    margin: 30px;
}

h1{
    text-align: center;
    font-family: Papyrus, serif;
    color: blue;
}

#game_assortment{
    width: 25%;
 }

#game_pic{
    display: flex;
    justify-content: center;
}

.gametables{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;/* edit this as necessary for layout*/
    /*This works if you click on the "phone" in the inspect but it doesn't adjust if you shrink the screen*/
    @media screen and (max-width: 480px) {
        display: flex;
        flex-direction: column;
    }
}

label {
    width: 100px;
    display: inline-block;
}

input{
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 15px;
}

button {
    background-color: blue;
    color: white;
    padding: 10px 20px;
    border: 1px solid black;
    border-radius: 5px;
    align-items: center;/*I'm trying to get the button to center under the input boxes, but this does nothing*/
}

#bg-table, #vg-table{
    margin-right: 30px;
}

table, tr, td{
    border: 2px solid black;
}
#test{
    border-radius: 5px;
    overflow: hidden;
}
table{
    width: 100%;
    border-collapse: collapse;
}
thead{
    color: white;
    background-color: blue;
}
td {
    padding: 10px;
    text-align: left;
}
tr:hover {
    background-color: #57d2fa;
}

tbody > tr{
    background-color: white;
}
/* Center specific columns */
#bg-table td:nth-child(4), #bg-table td:nth-child(5) {
    text-align: center;
}
